_config/mysqlDB.php 
dashboard/view/compiled/*
subirVersion.sh
assets/style=expanded
assets/css/scss_cache/*
assets/xml/*
!assets/xml/.gitkeep
assets/p12/*
!assets/p12/.gitkeep
assets/update/*
!assets/update/.gitkeep
assets/excel/*
!assets/excel/.gitkeep
!assets/update/update.log
assets/pdf/*
!assets/pdf/.gitkeep
_config/.DS_Store
cambiosDB.txt
.DS_Store
assets/.sass-cache/*
assets/expanded
assets/scss=.css
assets/style.css
assets/style=
assets/.css
assets/css/.css
assets/scss/.:./
assets/scss/css
assets/scss/style
assets/scss/style.css
assets/scss/style=expanded
style=expanded
assets/img/logo.png
assets/img/logos/*
!assets/img/logos/.gitkeep
assets/respaldo/*
!assets/respaldo/.gitkeep