
// ** Main Palette **
$prim: #0080C6;
$second: #A6CE39;
$third: #45b97c;

// ** Second Palette **
$pcola: #00A84F;
$pcolb: #F58345;
$pcolc: #937CB9;
$pcold: #F26D6A;
$pcole: #23bfcd;
$pcolf: #F4D44C;
$pcolg: #4D4D4D;
$pcolh: #343222;
$pcoli: #5B5B5B;

// Text
$gtxt: #5A5A5A;

$danger: #EC545A;
$sucess: #C2EB79;
$warning: #EEED73;

$btn1txt: #fff;
$btn2txt: #fff;
$btn3txt: #fff;
$btn4txt: #fff;
$btn5txt: #fff;
$head1txt: #fff;
$head2txt: #fff;
$head3txt: #fff;
$head4txt: #fff;
$tab1txt: #fff;
$tab2txt: #fff;
$tab3txt: #fff;
$tab4txt: #fff;

// Button
$btn1: $prim;
$btn2: $pcolb;
$btn3: $pcoli;
$btn4: $second;
$btn5: $third;
$btnmenu: $pcolh;

// Header
$head1: $prim;
$head2: $pcoli;
$head3: $pcolb;
$head4: $third;

// Tables
$tab1: $prim;
$tab2: $pcoli;
$tab3: $pcolb;
$tab4: $third;

// ** Logintech Default Colors **
// #2196F3
// #0B3861
// #607d8b
// *************