
// ** Main Palette **
$prim: #0080C6;
$second: #A6CE39;
$third: #45b97c;

// ** Second Palette **
$pcola: #00A84F;
$pcolb: #F58345;
$pcolc: #937CB9;
$pcold: #F26D6A;
$pcole: #23bfcd;
$pcolf: #F4D44C;

// Text
$gtxt: #5A5A5A;

$danger: #EC545A;
$sucess: #C2EB79;
$warning: #EEED73;

$btn1txt: #fff;
$btn2txt: #fff;
$btn3txt: #fff;
$head1txt: #fff;
$head2txt: #fff;
$head3txt: #fff;
$tab1txt: #fff;

// Button
$btn1: #0080C6;
$btn2: #F58345;
$btn3: #937CB9;
$btnmenu: #343222;

// Header
$head1: #0080C6;
$head2: #45b97c;
$head3: #A6CE39;

// Tables
$tab1: #0080C6;

// ** Logintech Default Colors **
// #2196F3
// #0B3861
// #607d8b
// *************