.head1{
background: $head1;
color: $head1txt;
}

.head2{
background: $head2;
color: $head2txt;
}

.head3{
background: $head3;
color: $head3txt;
}

.head4{
background: $head4;
color: $head4txt;
}

.btn1{
    background: $btn1;
    color: $btn1txt;
}

.btn2{
background: $btn2;
color: $btn2txt;
}

.btn3{
background: $btn3;
color: $btn3txt;
}

.btn4{
background: $btn4;
color: $btn4txt;
}

.btn5{
background: $btn5;
color: $btn5txt;
}

.tab1{
background: $tab1;
color: $tab2txt;
}

.tab2{
background: $tab2;
color: $tab2txt;
}

.tab3{
background: $tab3;
color: $tab3txt;
}

.tab4{
background: $tab4;
color: $tab4txt;
}

.bg1{
background: $pcolg;
}

.delete:hover {
color: $danger !important;
}

.bgtransparent{
background: transparent;
}

.gtext{
color: $gtxt;
}