@import 'colors.scss';
@import 'general.scss';

.tamLetra {
  font-size: 1.2em !important;
}

.mybtn {
  margin: 3%;
  width: 25%;
}

.mycol {
  border-left: 1px solid black;
  height: 100%;
}

.myah {
  color: #37443c;
  &:hover {
    color: black;
  }
}