@import 'colors.scss';

.head1{
    background: $head1 !important;
    color: $head1txt;
}

.head2{
    background: $head2 !important;
    color: $head2txt;
}

.btn1{
    background: $btn1 !important;
    color: $btn1txt;
}

.btn2{
    background: $btn2 !important;
    color: $btn2txt;
} 

.btn3{
    background: $btn3 !important;
    color: $btn3txt;
}

.head3{
    background: $head3 !important;
    color: $head3txt;
}

.tamLetra {
  font-size: 1.2em !important;
}

.tbl01 {
  > tbody > tr > td {
    border-right: 1px solid black;
  }
  float: right;
}

.tbl02 {
  width: 100%;
}

.hr1 {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px dashed #eee;
}

.hoja {
  background-color: white;
  padding: 1%;
}

.colordefondo {
  background-color: #0B3861 !important;
}

@media print {
  body {
    font-size: 0.8em !important;
  }
  header, footer, nav, aside {
    display: none;
  }
  .salto {
    page-break-before: always;
  }
  ul, img {
    page-break-inside: avoid;
  }
  td {
    padding: 1px !important;
    font-size: 1em !important;
  }
  @page {
    size: A4 landscape;
  }

  .hoja {
    background-color: white;
    padding: 0;
  }
  
  #pageFooter:before {
    counter-increment: hoja;
    counter-reset: hoja (+1);
    position: fixed;
    content: counter(hoja);
    left: 50%;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  }
}