@import 'colors.scss';
@import 'general.scss';

.accbtn {
  width: 35px;
  height: 35px;
}

.input-field .prefix{
  font-size: 1em;
}

.btn{
  text-transform: inherit !important;
}

#modal-medios {
  width: 80% !important;
  max-height: 100% !important;
  height: 80% !important;
}

.autocomplete-content {
  z-index: 3000 !important;
  position: absolute !important;
  width: 100% !important;
}

#modal-registrar {
  overflow-y: hidden;
}

nav ul a{
  padding-top: 10px !important;
  padding-right: 15px !important;
  padding-bottom: 10px !important;
  padding-left: 15px !important;
}

label[input='vnombre'] {
  width: 100%;
}

label[input='vcodigo'] {
  width: 100%;
}