@import 'colors.scss';
@import 'general.scss';

.accbtn {
  width: 35px;
  height: 35px;
}

.input-field .prefix{
  font-size: 1em;
}

.btn{
  text-transform: inherit !important;
}

#modal-medios {
  width: 80% !important;
  max-height: 100% !important;
  height: 80% !important;
}

.autocomplete-content {
  z-index: 3000 !important;
  position: absolute !important;
  width: 100% !important;
}

#modal-registrar {
  overflow-y: hidden;
}