.comanda{
    min-height: 100vh !important; 
    width: 90% !important;
}

@media only screen and (max-width:769px){
    .comanda{
        width: 100% !important;
    }

    /*#forder{
        height: 20vh;
    }*/

    #fdetallefacturas{
        min-height: 30vh;
        max-height: 30vh;
    }

    /*#listgeneral{
        height: 50vh;
    }*/

    #test1{
        max-height: 50vh;
    }

    .subfn{
        font-size: 40px !important;
    }
}