.tamLetra{
   font-size: 1.2em !important
}
.input-field{
    margin: 0px;
}

.delete:hover{
    color: #ea454b;
}
.sinborde{
    border-radius: 0px !important;
}

td, th{
    padding: 15px 15px !important;
}

.placeh{
    color: rgba(0,0,0,0.2);
}

.corad{
    display: block;
}

#infcorreo2{
    width: 100%;
    max-width: 100%;
    max-height: 50px;
    height: auto;
    overflow-y: scroll;
}

.icorr{
    height: 50px;
}
.iphone{
    height: 50px;
}

#inftelefono4{
    width: 100%;
    max-width: 100%;
    max-height: 50px;
    height: auto;
    overflow-y: scroll;
}

.chip{    
    display: block !important;
    font-size: 0.8em !important;
}
/*#039be5
rgba(3,229,173,0.1)*/
.chpcrr{background: rgba(3,155,229,0.1) !important;}
.chpphone{background: rgba(3,184,229,0.1) !important;}
ul.pagination > li.active {background-color: #2196F3 !important;}