body{
    background-color: #e9e9e9;
}
.contenedor{
    padding: 10px !important; 
    margin-left: 5%; 
    margin-right: 5%;
}
.sinborde{
    border-radius: 0px !important;
}

.principal{
    background-color: white;
/*    height: 100vh;*/
    padding-top: 10px;
}
.filtros{
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

.rous{
    padding-bottom: 15px;
}

.repcheck{
    padding: 0px; 
    margin: 0px;
}

.pbtn{
    cursor: pointer;
}

label[for=nclie] {
    width: 100%;
}

label[for=xnum] {
    width: 100%;
}

#ofiltr {
    display: none;

}

@media print {

.contenedor{
    padding: 0px !important; 
    margin-left: 0%; 
    margin-right:0%;
}
    header, footer, nav, aside {
      display: none;
    }

    .filtros {
        display: none;
    }

    .fa-level-down {
        display: none;
    }

    ul, img {
        page-break-inside: avoid;
    }

    .principal{
        /*padding-top: -30px;*/
        width: 100%;
    }

    table {
        border: 1px solid #e2e2e2;
        width: 100%;
    }

    table tr td{
        border: 1px solid #e2e2e2;
        padding: 0;
        margin: 0;
    }

    .dts {
        display: none;
    }

    .img-responsive{
        width: auto;
    }
    
    #ofiltr {
        display: none;
    }
    /*@page {
      size: A4 landscape; 
    }*/
}