.tipodes{
    width: 18%;
}
.oflow {
    overflow-x: scroll !important;
}
.row{
    margin-bottom: 0px;
}

h5{
    font-size: 1.2em !important;
}

.titulos{
    background-color: #0B3861;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

#addMoneda{
    margin-left: 1%;
}

.fast-edit{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.mrgn{
    margin-top: 15px;
}

.card-block {
    padding: 5px 15px 15px 15px;
}

.accmodulo {
    font-size: 1.3em;
    font-weight: bold;
}
@media only screen and (max-width:769px){

    .centrobot{
    margin-left:  15% !important;
    
}


}
