header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.accion{
    background-color: transparent;
    color: black;
    box-shadow: none;
}

.accion:hover{
    background-color: gray;
}

.menu-btn{
    position: fixed;
    top: 40%;
    left: -20px;
    padding: 4em 0em 4em 0.8em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
}

.menu-txt{
  transform: rotate(270deg);
  font-weight: 500;
}

.drag-target{
    width: 0px;
}