.input-field{
    margin-top: 0px;
}

.row{
    margin: 0px;
}

html{
    line-height: 1.5;
}
.tamLetra{
   font-size: 1.2em !important
}

.bdy{
    margin-top: 0px;
}

td, th{
    padding: 1px 3px;
}

.faccion{
    padding: 0px 10px;
    margin: 2px;
}
@media only screen and (max-width:769px){
.detalle{
    font-size: 0.5em !important;
}


.centro2{
    padding-right:28% !important;
    padding-top: 2% !important;
    
}

.padd{
    
    padding-bottom: 10% !important;
    padding-top: 5% !important;
}
.tamañoimg{

    font-size: 0.5em !important

}
.tda{
    width: 15% !important;
}
.tdb{  
    width: 27% !important;
}
.tdc{
    width: 10% !important;
}
.tdd{
    width: 25% !important;
}




}