.tamLetra{
   font-size: 1.2em !important
}
.input-field{
    margin: 0px;
}

.delete:hover{
    color: #ea454b;
}
.sinborde{
	border-radius: 0px !important;
}

td, th{
    padding: 15px 15px !important;
}

.placeh{
    color: rgba(0,0,0,0.2);
}