header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.accion{
    background-color: transparent;
    color: black;
    box-shadow: none;
}

.accion:hover{
    background-color: gray;
}

.menu-btn{
    position: fixed;
    top: 50%;
    left: -20px;
}

.drag-target{
    width: 0px;
}