.input-field{
    margin: 0px;
}

.delete:hover{
    color: #ea454b;
}
.sinborde{
	border-radius: 0px !important;
}
.tamLetra{
   font-size: 1.2em !important
}
ul.pagination > li.active {
    background-color: #2196F3 !important;
}