.input-field{
    margin-top: 0px;
}

.row{
    margin: 0px;
}

html{
    line-height: 1.5;
}

.bdy{
    margin-top: 0px;
}

td, th{
    padding: 1px 3px;
}

.faccion{
    padding: 0px 10px;
    margin: 2px;
}

