@charset "UTF-8";
.head1 {
  background: #0080C6;
  color: #fff; }

.head2 {
  background: #5B5B5B;
  color: #fff; }

.head3 {
  background: #F58345;
  color: #fff; }

.head4 {
  background: #45b97c;
  color: #fff; }

.btn1 {
  background: #0080C6;
  color: #fff; }

.btn1:hover {
  background: #003e60 !important; }

.btn2 {
  background: #F58345;
  color: #fff; }

.btn2:hover {
  background: #c94e0b !important; }

.btn3 {
  background: #5B5B5B;
  color: #fff; }

.btn3:hover {
  background: #282828 !important; }

.btn4 {
  background: #A6CE39;
  color: #fff; }

.btn4:hover {
  background: #678120 !important; }

.btn5 {
  background: #45b97c;
  color: #fff; }

.btn5:hover {
  background: #296f4a !important; }

.tab1 {
  background: #0080C6;
  color: #fff; }

.tab2 {
  background: #5B5B5B;
  color: #fff; }

.tab3 {
  background: #F58345;
  color: #fff; }

.tab4 {
  background: #45b97c;
  color: #fff; }

.bg1 {
  background: #4D4D4D; }

.delete:hover {
  color: #EC545A !important; }

.bgtransparent {
  background: transparent; }

.gtext {
  color: #5A5A5A; }

.padding1 {
  padding: 1%; }

.disp {
  display: inline-block; }

#buscarcli {
  margin-top: 8px !important; }

table.pbtns td:hover {
  cursor: pointer !important; }

/*CONTRASEÑA*/
.divabono {
  z-index: 500 !important;
  position: absolute !important;
  top: 135px !important;
  right: 45px !important;
  width: 550px !important;
  background: #fefefe !important;
  font-size: .875em !important;
  border-radius: 5px !important;
  box-shadow: 0 1px 3px #ccc !important;
  border: 1px solid #ddd !important;
  display: none; }
  .divabono h6 {
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
    font-weight: normal !important; }
  .divabono::before {
    content: "\25B2" !important;
    position: absolute !important;
    top: -12px !important;
    left: 60% !important;
    font-size: 14px !important;
    line-height: 14px !important;
    color: #ddd !important;
    text-shadow: none !important;
    display: block !important; }

@media only screen and (max-width: 769px) {
  .side-nav-cuentas {
    min-width: 100% !important;
    font: bold !important; }

  .divabono {
    z-index: 100 !important;
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    width: 100% !important;
    background: #fefefe !important;
    font-size: .875em !important;
    border-radius: 5px !important;
    box-shadow: 0 1px 3px #ccc !important;
    border: 1px solid #ddd !important; }
    .divabono h6 {
      margin: 0 0 10px 0 !important;
      padding: 0 !important;
      font-weight: normal !important; }
    .divabono::before {
      content: "\25B2" !important;
      position: absolute !important;
      top: -12px !important;
      left: 60% !important;
      font-size: 14px !important;
      line-height: 14px !important;
      color: #ddd !important;
      text-shadow: none !important;
      display: block !important; }

  #transaccion {
    background-color: red; } }

/*# sourceMappingURL=style-cuentas.css.map */
