body{
	padding-left: 15%;
	padding-right: 15%;
	background-color: #F1F1F1;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	color: #184372;
}

.moneda{ background: #184372; color: #fff; padding: 1px;}

#infofact{
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: #184372;
}

#fact{
	font-size: 3em;
}

#numfact{
	font-size: 4em;
	font-weight: 800;
}

.hoja{
	padding: 1em 2em;
	/*background: #F1F1F1;*/
	background: #fff;
	border-radius: 1.5em;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.tdtitc{
	background: #184372;
	color: #fff;
	padding: 2px;
}

.tdinfoc{
	background: #F8F8F8;
}

#detalle{ width: 98%; }

th{	width: 20%; }

#date {text-align: center}

#titdate{
	padding: 2px;
	background: #184372;
	color: #fff;
	text-align: left;
}

#contdate{
	padding: 2px;
	background: #F8F8F8;
}

.dd{ border-radius: 0.5em 0em 0em 0em; }
.aa{ border-radius: 0em 0.5em 0em 0em; }

.titcontact{
	padding: 2px;
}

#detalle{ border-radius: 0.5em 0em 0em 0.5em solid; }

.space{ width: 0.1%; } .infospace{ width: 0.5%; }

.totalpha{ background: #F8F8F8; width: 93%; margin-top: 2px; } .labelalpha{ font-size: 1.5em; }

.th{
	text-align: center;
	padding: 3px;
	background: #184372;
	color: #fff;
}

.td{ background: #F8F8F8; border-bottom: 1px solid; border-color: #fff; }

#th1{ border-radius: 0.5em 0em 0em 0em; } #th5{ border-radius: 0em 0.5em 0em 0em; }

#sqre{ width: 100%; background: #fff; padding: 1em 0em 1em 0em;  margin-top: -8px; margin-left: 20px; font-size: 1.3em;}

.tisqre{ color: #D1D4D6; }

.ttdr{ border-radius: 0.5em 0em 0em 0em; } .ttdl{ border-radius: 0em 0.5em 0em 0em; }

.tittot{ background: #184372; color: #fff; font-size: 0.9em; text-align: center; }
.thtiti{ border-radius: 0.5em 0em 0em 0em; } .thtitf{ border-radius: 0em 0.5em 0em 0em; }
.valtot{ background: #F8F8F8; text-align: center; padding: 1em 2em 1em 2em; }
.valtotc{ font-size: 0.8em; }
.infooter{ font-size: 1.2em; } .leyfooter{ font-size: 0.9em; }
/***************************************/
@media print {

	header, footer, nav, aside {
	  display: none;
	}

	.salto {
		page-break-before: always;
	}

	body{
		padding-left: 2%;
	  	padding-right: 2%;
	}

	@page {
	  size: A4 landscape; 
	}

	.hoja{
		background-color: white;
		padding: 0;
	}
}